body {
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

@media screen and (min-width: 428px) {
    header {
        background-color: aqua;
        background-image: url('./assets/images/Header\ Background.png');
    }
}

/* Estilos para o cabeçalho */
header {
    width: 100vw;
    height: 489px;
    background-image: url(./assets/images/Header\ Background\ \(1\).png);
    background-size: cover; /* Preenche toda a largura da viewport */
    background-repeat: no-repeat;
    background-position: top left;
    padding: 50px 0; /* Espaçamento interno para o texto no header */
    text-align: center;
}

/* Estilos para a primeira seção */
.secone {
    width: 100vw;
    height: 489px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Imagem dentro da primeira seção */
.secone img {
    max-width: 100%;
    height: auto;
}

header h1, header p, header button {
    position: relative;
    top: 100px;
}

/* Estilos para a segunda seção */
.sectwo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(246, 246, 246, 1); /* Cor de fundo para distinguir visualmente */
}

/* Imagem dentro da segunda seção */
.sectwo img {
    max-width: 100%;
    height: auto;
}

/* Estilos de texto */
.apres h1, .apres p {
    color: white;
    font-family: 'Luckiest Guy', sans-serif;
}

#t1, #t2 {
    font-size: 16px;
    width: 281px;
    height: 44px;
    border-radius: 28px;
    margin: 10px; /* Espaçamento entre os botões */
}

#t2 {
    color: white;
    background-color: rgba(35, 39, 42, 1);
}

#txt1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 800px;
}

#txt2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}

.sectwo {
    height: 448px;
    gap: 16px;
}

.sectwo strong {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 800px;
}

.sectwo p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font: 400px;
}

.sectree {
    position: relative;
    top: 94px;
    height: 448px;
    display: flex;
    justify-content: center;
}

.sectree strong {
    position: relative;
    top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 800px;
}

.sectree p {
    position: relative;
    top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.secfour {
    position: relative;
    top: 184px;
    height: auto;
    flex-direction: column;
    background-color: rgba(246, 246, 246, 1);
    overflow: hidden; 
}

.secfour h1 {
    font-family: Luckiest Guy;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.secfour p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.secfour img {
    display: block; /* Define a imagem como bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 134px;
    position: relative;
    top: 184px;
    background-color: rgba(35, 39, 42, 1);
    overflow: hidden;
}

footer img {
    position: relative;
    top: 35px;
    width: 230px;
    height: 63px;
}